body {
    background-color: rgb(209, 201, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.mems-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    cursor: pointer;
    width: 764px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid rgb(166, 159, 150);
    padding-top: 5px
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mem-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.mem--radio {
    display: none;
}

.mem--content {
    height: 0px;
    transition: height 1s;
    cursor: pointer;
    overflow: hidden;
}

.mem--radio:checked ~ .mem--content,
.mem:hover .mem--content {
    height: 600px;
}

.mem--radio:checked ~ .title-container .plus.plus {
    display: none;
}

.mem--radio:not(:checked) ~ .title-container .cross.cross {
    display: none;
}

.img-container {
    height: 600px;
}

.mem-img {
    max-height: 100%;
}

.fa.fa {
    cursor: pointer;
    display: none;
}

.mems-container:hover .fa.fa {
    display: inline-block;
}